* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font: normal 1.3em Arial;
}

header {
    background: chocolate;
    padding: 1em;
    display: flex;
    text-align: center;
    justify-content: center;
}

header h1 {
    color: lawngreen;
}

section {
    background: rgb(70, 142, 236);
    width: 100%;
    padding: 2em 0;
}

.container {
    background: white;
    border-radius: 0.8em;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363); 
    padding: 1em;
    margin: 0 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    
}

#year {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1em;
}

#year p {
    margin-right: 1em;
}

#sexo {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    padding-bottom: 1em;
}

#sexo input {
    margin-left: 1em;
    margin-right: 1em;
}

#checked {
    padding: 1em 0;
    text-align: center;
}

#checked input {
    background: orange;
    border-radius: 2em;
    border: none;
    font-size: .8em;
    padding: .6em 4em;
    transition: 0.3s;
}

#checked input:hover {
    background: rgb(255, 115, 0);
    color: white;
}

#result p {
    margin: 1em 0;
}

footer {
    align-items: center;
    background: rgb(51, 51, 51);
    display: flex;
    width: 100%;
    font-style: italic;
    height: 2.5em;
    justify-content: center; 
    
    position: absolute;
    bottom: 0;
}

footer p a {
    color: white;
    text-decoration: none;
    transition: color .3s;
}

footer p a:hover {
    color: gold;
    font-size: 1.2em;
    text-decoration: none;
}